<h1>Add Event to Schedule</h1>
<%= bootstrap_form_for([@team.league, @team, @event]) do |f| %>
  <%= f.alert_message 'Please fix the following errors:' %>
  <%= f.date_field :start_date %>
  <%= f.date_field :stop_date %>
  <%= f.text_field :description %>
  <%= f.submit :submit %>
<% end %>
