<div class="searchtablewrapper">
  <strong>League Skill: <%= @league.skill %></strong><br><br>
<%= bootstrap_form_for([@league, @team]) do |f| %>
  <%= f.alert_message 'Please fix the following errors:' %>
  <%= f.text_field :name, label: 'Team Name', placeholder: 'Team Name' %>
  <%= f.hidden_field :league_id %>
  <%= f.text_field :owner, value: current_user.email, label: 'Team Owner' %>
  <%= f.submit :submit %>
<% end %>
</div>
