<div class="searchtablewrapper">
<div class="display responsive no-wrap">
  <table id="tstable" class="table-condensed">
    <h3>Season Schedule:</h3>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <% if signed_in? && current_user.team_member?(@team) %>
          <th>Players Going</th>
          <th>Players Not RSVP'd</th>
          <th>Attending?</th>
          <th>RSVP'd</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @team.games.current(Time.now).each do |game| %>
        <tr>
          <td><%= game.time.strftime("%A %B, %e") %></td>
          <td><%= game.time.strftime("%R") %></td>
          <td><%= game.home_team.name %></td>
          <td><%= game.away_team.try(:name) %></td>
          <% if signed_in? && current_user.team_member?(@team) %>
            <td><%= game.team_attendance(@team).count %></td>
            <td><%= game.not_attending(@team) %></td>
            <td>
              <% if game.attending?(current_user, @team) %>
                <%= form_tag(not_attend_league_team_path(game.league, @team), method: 'delete') do %>
                  <%= hidden_field_tag(:game_id, game.id) %>
                  <%= submit_tag "Not Attend" %>
                <% end %>
              <% else %>
                <%= form_tag will_attend_league_team_path(game.league, @team) do %>
                  <%= hidden_field_tag(:game_id, game.id) %>
                  <%= submit_tag "Will Attend" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if game.attending?(current_user, @team) %>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
