<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h1>
        <%= @team.name.titlecase %>
        <small>
          // <%= link_to ("#{@team.league.skill} League"), @team.league %><br>
          <% if signed_in? && current_user.team_owner?(@team) %>
            You are the team owner: <%= link_to 'Edit', edit_league_team_path(@team.league, @team) %>
          <% else %>
            Team Owner: <%= @owner.name %>
          <% end %>
          <% if signed_in? && !current_user.team_member?(@team) %>
            // <a id="membershiprequestModal">Request to Join team</a>
          <% end %>
        </small>
      </h1>
        <div>
          <button type="button" class="btn btn-primary" id="weeklyScheduleButton">Current Weekly Schedule</button>
          <button type="button" class="btn btn-primary" id="scheduleButton">Season Schedule</button>
          <button type="button" class="btn btn-primary" id="statsButton">Team Stats</button>
          <button type="button" class="btn btn-primary" id="rosterButton">Roster</button>
          <% if signed_in? && current_user.team_member?(@team) %>
            <button type="button" class="btn btn-primary" id="playerSceduleButton">Player's Schedule</button>
          <% end %>
        </div>
    </div>
  </div>
</div>

<div class="row" id="weeklySchedule">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'current_schedule' %>
  </div>
</div>

<div class="row" style="display:none" id="schedule">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'schedule' %>
  </div>
</div>

<div class="row" style="display:none;" id="teamStats">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'historic_schedule' %>
    <%= render 'team_stats' %>
  </div>
</div>

<div class="row" style="display:none;" id="roster">
  <div class="col-md-8 col-md-offset-2">
    <h3>Roster:</h3>
    <% @team.users.in_groups_of(3) do |group| %>
      <% group.each do |user| %>
        <div class="col-md-3">
          <% if !user.blank? %>
            <%= link_to image_tag(user.avatar.thumb.url), user %><br><%= link_to user.name, user %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <br>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <%= render 'roster_stats' %>
  </div>
</div>

<br>

<% if signed_in? && current_user.team_member?(@team) %>
  <div class="row" style="display:none;" id="playerSchedules">
    <div class="col-md-8 col-md-offset-2">
        <%= render 'players_schedule' %>
    </div>
  </div>
<% end %>



<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Team Access Request</h4>
    </div>
    <div class="modal-body">
      <%= render 'requestform' %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

<% if signed_in? && current_user.team_member?(@team) %>
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Team Access Request</h4>
    </div>
    <div class="modal-body">
      <%= render 'calendar' %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<% end %>
