<div class="container-fluid">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>
        <%= @team.name.titlecase %>
        <small>
          <% if signed_in? && !current_user.team_member?(@team) %>
            <a id="membershiprequestModal">Request to Join team</a>
          <% end %>
        </small>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if signed_in? && current_user.team_owner?(@team) %>
        <h4>You are the team owner: <%= link_to 'Edit', edit_league_team_path(@team.league, @team) %></h4>
      <% else %>
      <h4>Team Owner: <%= @owner.name %></h4>
      <% end %>
    </div>
  </div>


  <% if signed_in? && current_user.team_member?(@team) %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4>Team Member Features: <small><a id="eventcalendarModal">Add a Calendar Event</a></small></h4>
      </div>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render 'schedule' %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Roster:</h3>
      <% @team.users.in_groups_of(3) do |group| %>
        <% group.each do |user| %>
          <div class="col-md-3">
            <% if !user.blank? %>
              <%= image_tag(user.avatar.thumb.url) %><br><%= link_to user.name, user_path(user) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>




<%= render 'players_schedule' %>



<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Team Access Request</h4>
      </div>
      <div class="modal-body">
        <%= render 'requestform' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Team Access Request</h4>
      </div>
      <div class="modal-body">
        <%= render 'calendar' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
