<% if signed_in? && current_user.is_owner_of_team?(@team) %>
  <p>You are the team owner: <%= link_to 'Edit', edit_team_path(@team) %></p>
<% end %>

<% if signed_in? && current_user.is_team_member?(@team) %>
Team Member Features
<li>Calendar</li>
<li>Schedule</li>
<li>Forum</li>
<li>Announcements</li>
<% end %>

<h1><%= @team.name.titlecase %> Team Page</h1>

<% if signed_in? && !current_user.is_team_member?(@team) %>
  <a id="membershiprequestModal">Request to Join team</a>
<% end %>

<h3>Players:</h3>
<ul>
  <% @team.users.each do |user| %>
    <li><%= image_tag(user.avatar.url(:thumb)) %> <%= link_to user.name, user_path(user) %></li>
  <% end %>
</ul>




<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Team Access Request</h4>
      </div>
      <div class="modal-body">
        <%= render "requestform" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
