<h1><%= @team.name.titlecase %> Team Page</h1>

<% if signed_in? && current_user.team_owner?(@team) %>
  <p>You are the team owner: <%= link_to 'Edit', edit_team_path(@team) %></p>
<% else %>
  <p>The Team Owner is: <%= @owner.name %></p>
<% end %>

<% if signed_in? && current_user.team_member?(@team) %>
  Team Member Features
  <li><a id="eventcalendarModal">Add a Game</a></li>
  <li>Schedule</li>
  <li>Forum</li>
  <li>Announcements</li>
<% end %>

<% if signed_in? && !current_user.team_member?(@team) %>
  <a id="membershiprequestModal">Request to Join team</a>
<% end %>

<h3>Players:</h3>
<ul>
  <% @team.users.each do |user| %>
    <li><%= image_tag(user.avatar.url(:thumb)) %> <%= link_to user.name, user_path(user) %></li>
  <% end %>
</ul>


<h3>Game Schedule</h3>
<% @events.each do |e| %>
  <li>Opponent: <strong><%= e.opponent.name %></strong> Game Time: <strong><%= e.game_time.strftime("%R %A %D") %></strong></li>
<% end %>


<h3>Added by Opponent</h3>
<% @opponentevents.each do |e| %>
  <li>vs <strong><%= e.opponent.name %></strong> Game Time: <strong><%= e.game_time.strftime("%R %A %D") %></strong></li>
<% end %>




<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Team Access Request</h4>
      </div>
      <div class="modal-body">
        <%= render "requestform" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Team Access Request</h4>
      </div>
      <div class="modal-body">
        <%= render "calendar" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
