<div class="statictablewrapper">
  <div class="table-responsive" style="max-width:800px;">
    <table class="table">
    <h3>
      Game Scores
    </h3>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Home Team</th>
          <th>Goals</th>
          <th>Away Team</th>
          <th>Goals</th>
          <th>Game Winner</th>
        </tr>
      </thead>
      <tbody>
        <% @league_prior_games.each do |game| %>
        <tr style="background:white;">
          <td><%= game.time.strftime("%a %b, %e") %></td>
          <td><%= game.time.strftime("%R") %></td>
          <td><%= game.home_team.try(:name) %></td>
          <td><%= game.home_goals %></td>
          <td><%= game.away_team.try(:name) %></td>
          <td><%= game.away_goals %></td>
          <td><%= game.winner.try(:name) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
