<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h1><%= @league.skill %> League Page
        <small> //
          <span class="dropdown">
            <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">All Teams</a>
            <span class="caret"></span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <% @league.teams.each do |team| %>
                <li role="presentation"><%= link_to team.name, league_team_path(@league, team) %></li>
              <% end %>
            </ul>
          </span>
        <br>
          <% if signed_in? %>
            <%= link_to 'New Team Registration', new_league_team_path(@league) %>
          <% end %>
        </small>
      </h1>
        <div>
          <button type="button" class="btn btn-primary" id="leagueWeeklyScheduleButton">Weekly Schedule</button>
          <button type="button" class="btn btn-primary" id="leagueSeasonButton">Season Schedual</button>
          <button type="button" class="btn btn-primary" id="leaguePriorGamesButton">Prior Games</button>
          <button type="button" class="btn btn-primary" id="leagueStatsButton">League Stats</button>
          <% if signed_in? && current_user.admin? %>
            <span class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" type="button" id="dropdownAdminMenu" data-toggle="dropdown" aria-expanded="true">
                Admin Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><%= link_to 'Add a Game', new_league_game_path(@league) %></li>
                <li role="presentation"><%= link_to 'View/Edit Games', league_games_path(@league) %></li>
              </ul>
            </span>
          <% end %>
        </div>
    </div>
  </div>
</div>

<div class="row" id="leagueWeeklySchedule">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'current_schedule' %>
  </div>
</div>

<div class="row" style="display:none" id="leagueStats">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'league_standings' %>
  </div>
</div>

<div class="row" style="display:none" id="leaguePriorGames">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'historic_schedule' %>
  </div>
</div>

<div class="row" style="display:none" id="leagueSeason">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'schedule' %>
  </div>
</div>
