<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h1><%= @league.skill %> League Page
        <small> //
          <span class="dropdown">
            <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">All Teams</a>
            <span class="caret"></span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <% @league.teams.each do |team| %>
                <li role="presentation"><%= link_to team.name, league_team_path(@league, team) %></li>
              <% end %>
            </ul>
          </span>
        <br>
          <% if signed_in? %>
            <%= link_to 'New Team Registration', new_league_team_path(@league) %>
          <% end %>
        </small>
      </h1>
      <div class="button-group">
        <label>
          <input type="radio" name="button-group" value="item" id="leagueWeeklyScheduleButton" checked>
          <span class="button-group-item">Weekly Schedule</span>
        </label>
        <label>
          <input type="radio" name="button-group" value="other-item" id="leagueSeasonButton">
          <span class="button-group-item">Season Schedual</span>
        </label>
        <label>
          <input type="radio" name="button-group" value="other-item" id="leagueScoresButton">
          <span class="button-group-item">Scores</span>
        </label>
        <label>
          <input type="radio" name="button-group" value="third" id="leagueStatsButton">
          <span class="button-group-item">League Stats</span>
        </label>
        <% if signed_in? && current_user.admin? %>
          <span class="dropdown" style="float:right;">
            <button type="button" class="btn btn-primary dropdown-toggle" type="button" id="dropdownAdminMenu" data-toggle="dropdown" aria-expanded="true">
              Admin Actions
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><%= link_to 'Add a Game', new_league_game_path(@league) %></li>
              <li role="presentation"><%= link_to 'View/Edit Games', league_games_path(@league) %></li>
            </ul>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row" id="leagueWeeklySchedule">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'current_schedule' %>
  </div>
</div>

<div class="row" style="display:none" id="leagueStats">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'league_standings' %>
  </div>
</div>

<div class="row" style="display:none" id="leagueScores">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'historic_schedule' %>
  </div>
</div>

<div class="row" style="display:none" id="leagueSeason">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'schedule' %>
  </div>
</div>
