<% @user.rosters.each do |roster| %>
  <h3><%= link_to roster.team.name, league_team_path(roster.team.league, roster.team) %><small> <%= roster.team.league.skill %> League</small></h3>
  <p><strong><%= roster.games_played %> Games Played</strong></p>

          <div class="statictablewrapper">
            <div class="table-responsive" style="max-width:800px;">
              <table class="table">
              <h3>
                Schedule: <%= Date.today.strftime("%a %b, %e") %> - <%= 1.week.from_now.strftime("%a %b, %e") %>
              </h3>
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                  <% if signed_in? && current_user.team_member?(roster.team) && current_user.profile?(@user, current_user)%>
                    <th>Players Going</th>
                    <th>Players Not RSVP'd</th>
                    <th>Attending?</th>
                    <th>RSVP'd</th>
                  <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% roster.team.games.weekly_games.each do |game| %>
                  <tr style="background:white;">
                    <td><%= game.time.strftime("%a %b, %e") %></td>
                    <td><%= game.time.strftime("%R") %></td>
                    <td><%= game.home_team.name %></td>
                    <td><%= game.away_team.try(:name) %></td>
                    <% if signed_in? && current_user.team_member?(roster.team) && current_user.profile?(@user, current_user)%>
                      <td><%= game.team_attendance(roster.team).count %></td>
                      <td><%= game.not_attending(roster.team) %></td>
                      <td>
                      <% if game.attending?(current_user, roster.team) %>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                      <% end %>
                      </td>
                      <td>
                      <% if game.attending?(current_user, roster.team) %>
                        <%= form_tag(not_attend_league_team_path(game.league, roster.team), method: 'delete') do %>
                          <%= hidden_field_tag(:game_id, game.id) %>
                          <%= submit_tag "Not Attend" %>
                        <% end %>
                      <% else %>
                        <%= form_tag will_attend_league_team_path(game.league, roster.team) do %>
                          <%= hidden_field_tag(:game_id, game.id) %>
                          <%= submit_tag "Will Attend" %>
                        <% end %>
                      <% end %>
                      </td>
                    <% end %>



                  <% end %>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

  <p><h4>Goals</h4></p>

    <div class="statsbox">
      <b>Individual Goals</b><br>
      <b>Avg Team Goals</b>
    </div>
    <section>
      <% if roster.goals < 1 %>
        <li>0</li>
      <% else %>
      <li class="progress-bar" role="progressbar" aria-valuemin="0" style="width:<%= roster.goals %>%;min-width: 1em;max-width: 600px;"><%= roster.goals %></li><br>
      <% end %>
      <% if roster.team.total_goals < 1 %>
        <li>0</li>
      <% else %>
        <li class="progress-bar" role="progressbar" aria-valuemin="0" style="width:<%= roster.team.team_avg_goals %>%;max-width: 600px;"><%= roster.team.team_avg_goals %></li><br>
      <% end %>
    </section>

  <p><h4>Assists</h4></p>

    <div class="statsbox">
      <b>Individual Assists</b><br>
      <b>Avg Team Assists</b>
    </div>
    <section>
      <% if roster.assists < 1 %>
        <li>0</li>
      <% else %>
        <li class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" style="width:<%= roster.assists %>%;min-width: 1em;max-width: 600px;"><%= roster.assists %></li><br>
      <% end %>
      <% if roster.team.total_goals < 1 %>
        <li>0</li>
      <% else %>
        <li class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" style="width:<%= roster.team.team_avg_assists %>%;max-width: 600px;"><%= roster.team.team_avg_assists %></li><br>
      <% end %>
    </section>

  <p><h4>Penalty Minutes</h4></p>
    <div class="statsbox">
      <b>PIMS</b><br>
      <b>Avg Team PIMS</b>
    </div>
    <section>
      <% if roster.penalties < 1 %>
        <li>0</li>
      <% else %>
        <li class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" style="width:<%= roster.penalties %>%;min-width: 1em;max-width: 600px;"><%= roster.penalties %></li><br>
      <% end %>
      <% if roster.team.team_penalties < 1 %>
        <li>0</li>
      <% else %>
        <li class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" style="width:<%= roster.team.team_avg_penalties %>%;max-width: 600px;"><%= roster.team.team_avg_penalties %></li><br>
      <% end %>
    </section>
    <br>
<% end %>
