<h1><%= @user.name %></h1>
<%= image_tag(@user.avatar.url) %>
<ul>
Contact Information:
<li>Email: <%= @user.email %></li>
<li>Phone: <%= @user.phone %></li>
Stats
<li>Goals: <%= @user.goals %></li>
<li>Assists: <%= @user.assists %></li>
<li>Points: <%= @user.game_points %></li>
<li>Penalty Minutes: <%= @user.penalties %></li>
About:
<li><%= @user.bio %></li>
</ul>

<% if @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
<% end %>
