<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <% if signed_in? %>
        <p class="navbar-text navbar-right"><%= link_to 'Sign Out', session_signout_path, method: :delete %> </p>
        <p class="navbar-text navbar-right"><% if current_user.admin? %><%= link_to "Admin", admin_root_path %> <% end %></p>
        <p class="navbar-text navbar-right">Hello <%= current_user.name %>!</p>
        <span class="navbar-right" style="padding-top:5px;"><%= link_to image_tag(current_user.avatar.thumb.url, width: "55px;"), user_path(current_user) %></span>
      <% else %>
        <p class="navbar-right">
          <%= link_to 'Sign up!', new_user_path %>
          <%= form_tag({controller: 'session', action: "signin"}) do %>
            <%= label_tag(:email, 'Email:') %>
            <%= text_field_tag(:email) %>
            <%= password_field_tag(:password) %>
            <%= submit_tag("Sign In") %>
            <% end %>
        </p>
      <% end %>
  </div>
</nav>
