<!DOCTYPE html>
<html>
<head>
  <title>HockeyLeagueApp</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container-fluid">
    <%= render :partial => 'layouts/navbar' %>
    <%= yield %>
  </div>
</body>
<footer>
  <div class="fixed-bottom navfooter">
    <p class="element">website designed and managed by Kyle Swartz | Ice Sports Forum, 10222 Elizabeth Place, Tampa, FL 33619 | (813) 481-1293 | email webmaster</p>
  </div>
</footer>
</html>
